<%= turbo_frame_tag "like_dislike_frame" do %>
  <div class="action" 
      data-post-id="<%= post.id %>"
      data-like-id="<%= post.likes.find_by(user: current_user)&.id %>"
      data-controller="like-dislike"
      data-action="click->like-dislike#toggleLikeDislike">

    <div class="like <%= post.liked_by?(current_user) ? "hidden" : "" %>">
      <%= embedded_svg "like.svg" %>
    </div>

    <div class="dislike <%= post.liked_by?(current_user) ? "" : "hidden" %>">
      <%= embedded_svg "liked.svg" %>
    </div>
  </div>
<% end %>
