<main class="posts-page container">
  <%= turbo_frame_tag "posts" do %>
    <section class="posts" id="posts">
      <% if @posts.any? %>
        <%= render @posts %>
      <% else %>
        <p>Nenhum post ainda.</p>
      <% end %>
    </section>
  <% end %>
  
  <aside>
    <%= render current_user %>

    <section class="suggestions">
      <h4>Sugestões Para Você</h4>
      <%= render @suggested_users %>
    </section>
  </aside>

  <footer>
    © <%= Date.current.year %> INSTAGRAM CLONE
  </footer>
</main>
